<p id="notice"><%= notice %></p>

<!-- from here -->
<% @items.each do |item| %>
  <table class="item">


    <thead class="item-head">
      <th>Item number</th>
      <th>Sap #</th> 
      <td><%= item.sap_number %></td>
      <th>Tr card #</th>
      <td><%= item.tr_number %></td>
      <th>Rb #</th>
      <td><%= item.rb_number %></td>
    </thead>

    <tbody class="col-md-8">

      <table class="name list"><th>Name:</th>
      <td><%= item.name %></td></table>

      <table class="machine"><th>Machine:</th>
      <td><%= item.machine %></td></table>

      <table class="material"><th>Material:</th>
      <td><%= item.material %></td></table>

      <table class="finish"><th>Finish:</th>
      <td><%= item.finish %></td></table>

      <table class="lead"><th>Lead time:</th>
      <td><%= item.lead_time %></td></table>

      <table class="additional"><th>Additional:</th>
      <td><%= item.additional %></td></table>

      <table>
        <td><%= link_to 'Show', item, class: "show" %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: "show"%></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Sure about this?' }, class: "show"%></td>
      </table>

    </tbody>
    <br>
    <br>
    <br>
  </table>   
<% end %>


<!-- to here -->

<%= link_to 'New Item', new_item_path %>






